@import "tailwindcss";

@theme {
	--color-background-light: #f0f4ff;
	--color-white: #ffffff;
	--color-success: #00b94a;
	--color-primary: #3b3dbf;
	--color-danger: #ef463a;
	--color-black: #171717;
	--color-secondary: #6567dd;
}
